.container {
  display: grid;
  grid-template-columns: 19.5% 80.5%;
  grid-template-rows: 100% 100%;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    'left-bar top-section top-section'
    'left-bar bottom-section bottom-section';
  height: 50vh;
}

.left-bar {
  grid-area: left-bar;
  background-color: hsl(0, 0%, 74%);
}

.top-section {
  grid-area: top-section;
  background-color: hsl(0, 0%, 85%);
}

.bottom-section {
  grid-area: bottom-section;
  background-color: hsl(0, 0%, 85%);
}

.login-box {
  border: 5px solid hsl(0, 100%, 50%);
  border-radius: 25px;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  background-color: hsl(0, 0%, 100%);
}

.login-buttons {
  text-align: center;
  background-color: hsl(0, 0%, 71%);
}

.overflow {
  height: 100%;
  width: auto;
  /* background-color:#CCC; */
  overflow-y: auto;
  float: right;
  position: relative;
  margin-right: 10px;
}

.ticket-box {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0px;
  margin: 5px;
}

.ticket {
  list-style: none;
}

.alternate-color:nth-child(even) {
  background-color: hsl(0, 0%, 50%);
}
.alternate-color:nth-child(odd) {
  background-color: hsl(0, 0%, 75%);
}
